<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact us</title>
    {% include('include_css.html') %}
</head>
<body>
    <div><div class="col-8 header">FOR-IEM'S</div>
        <div class="col-1 header2">sign in</div>
        <div class="col-1 header2">log in</div>
         <div class="col-10"></div></div>
<div class="col-10 header3">want to talk with us?  </div>
<div class="col-10 regtext">phone number:03-6666666</div>
<div class="col-10 regtext">Address:blabla 23</div>
<div class="col-10 regtext">have a nice day,</div>
<div class="col-10 regtext">FOR-IEM'S</div>
    <div class="col-10"></div></div>
      <img src="{{url_for('static', filename='IMG/contact-center.jpg') }}"/>

<a href="/CV"> <button class="buttonsdesin" onclick="CV.html"> back </button></a>
</body>
</html>