<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include('include_css.html') %}
</head>
<body>
   <h2>The method of this request is: {{ request_method }}</h2>



    Form:
    <form method="GET" action ="/assignment9">
    <label for="name">Search by first name:</label>
    <input id='name' name="name"><br><br>
    <input type="submit" value="Search">
    </form>

    {% if name=='NONE'%}

    {% else %}
        {% if name == ''%}
            <ol>
                <li>Michael Lawson</li>
                <li>Lindsay Ferguson</li>
                <li>Tobias Funke</li>
                <li>Byron Fields</li>
                <li>George Edwards</li>
                 <li>Rachel Howell</li>
            </ol>
        {% endif%}

    {% endif%}

<br>
{% if name %}
            <h2>Welcome, {{ name}} {{Users[name]}} ! </h2>
            {% else %}
            <h2> Welcome, Friend !</h2>
{% endif %}
<br><br><br><br>
<h2> Registration Form:</h2>

    {% if username %}
            <h2>Welcome, {{ username}} ! </h2>
            {% else %}
            <h2> Hey, Stranger !</h2>
{% endif %}
    <form method="POST" action ="/assignment9">
    <label for="username">Username:</label>
    <input id='username' name="username"><br><br>
     <label for="Password">Password:</label>
    <input id='Password' name="Password"><br><br>
    <input type="submit" value="Log in">
    </form>

<br> <br>
<a href = '/log_out'><input type="submit" value="Log Out"></a>

</body>
</html>