<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CV WEBSITE- OFIR AVITBOOL</title>
    {% include('include_css.html') %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row background-image">
        <div class="col-8 header">FOR-IEM'S</div>
        <div class="col-1 header2">sign in</div>
        <div class="col-1 header2">log in</div>
         <div class="col-10"></div>
        <div class="col-2 menu">ASK A QUESTION </div>
        <div class="col-1 header"> </div>
        <div class="col-2 menu">UPLOADING A NEW RESUME </div>
        <div class="col-1 header"> </div>
        <div class="col-2 menu"><a href="MYCV.html">VIEW YOUR RESUME</a></div>

         <div class="col-10"></div>
        <div class="col-2"> </div>
        <div class="col-1 header"> </div>
        <div class="col-1 header"> </div>
        <div class="col-10"> </div>
        <div class="col-1 right"> </div>
         <div class="col-5 main">POPULAR JOBS </div>
        <div class="col-1 right"> </div>
        <div class="col-3 main">MESSAGES </div>
        <div class="col-10"> </div>
        <div class="col-2 FOOTER"><a href="contact_us.html">CONTACT US</a></div>
        <div class="col-2 FOOTER"> </div>
        <div class="col-2 FOOTER">TERMS </div>
        <div class="col-2 FOOTER"> </div>
        <div class="col-2 FOOTER">INFORMATION </div>

        </div>
</body>
</html>