<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment10</title>
</head>
<body>

<h1> users list:</h1>
<ul>
    {% for user in users %}
    <li> {{ user }}</li>
    {% endfor %}
</ul>
<h1> Add new User</h1>
    <form method="post" action="/Add_user">
        <label for="username"> user name:</label>
        <input name="username" id="username">
        <label for="Email"> Email:</label>
        <input name="Email" id="Email">
        <label for="Password"> Password:</label>
        <input name="Password" id="Password">
        <input type="submit" value="Add">
    </form>
<h1> delete user:</h1>
<form method="post" action="/delete_user">
    <input name="username" type="text" placeholder="enter the user name">
    <input type="submit" value="delete">
</form>
<h1>Update user</h1>
  <form method="post" action="/update_user">
        <label for="username"> user name:</label>
        <input name="username" id="username">
        <label for="Email"> Email:</label>
        <input name="Email" id="Email">
        <label for="Password"> Password:</label>
        <input name="Password" id="Password">
        <input type="submit" value="Update">
    </form>
</body>
</html>